*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background: hsl(30, 38%, 92%);
    --priceAndButton: hsl(158, 36%, 37%);
    --text-color: hsl(228, 12%, 48%);
    --header-color: hsl(212, 21%, 14%);

    font-size: 14px;
}

.body{
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
}

body .mainContainer{
    /*border: 5px solid blue;*/
    width: 39rem;
    height: 29rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    border-radius: 0.7rem;
}

.mainContainer .image{
    flex: 1 1 50%;
    overflow: hidden;
    height: 100%;
    width: auto;
    /*border: 5px solid red;*/
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
    filter: contrast(1.5);
    filter: brightness(0.95);
}

.mainContainer .writtenPart{
    flex: 1 1 50%;
    height: 100%;
    /*border: 5px solid green;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.8rem 1.35rem 1.8rem 2.2rem;  
    color: var(--text-color);  
    filter: blur(0.5px);
}

.category{
    /*border:2px solid brown;*/
    font-size: 0.80rem;
    color: var(--text-color);
    letter-spacing: 4px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    text-transform: uppercase;
}

.header{
    /*border: 2px solid brown;*/
    padding: 0 1.35rem 0 0;
    height: 7rem;
    font-weight: 800;
    font-size: 1.05rem;
    font-family: "Fraunces", serif;
    color: var(--header-color);
    line-height: 1;
}
/* finished here*/
.description{
    /*border:2px solid brown;*/
    height: 8rem;
    margin-top: -0.5rem;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-size: 0.95rem;
    font-weight: 500;
    text-align: left;
    line-height: 1.5;
}

.price{
    /*border:2px solid brown;*/
    margin-top: -2rem;
    height: 5vh;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.priceNew{
    color: var(--priceAndButton);
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: 2rem;
}

.priceOld{
    text-decoration: line-through; 
    margin-right: 4rem;
}

.button{
    margin-right: 1rem;    
}

button{
    /*border:2px solid brown;*/
    border-radius: 0.5rem;
    border: none;
    height: 3.2rem;
    margin-right: 2rem;
    width: 100%;
    color: white;
    background-color: var(--priceAndButton);
    font-family: "Montserrat", serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
}

button:hover{
    background-color: hsl(159, 35%, 21%);
    cursor: pointer;
}

@media screen and (max-width: 375px){
    body{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    body .mainContainer{
        /*border: 5px solid blue;*/
        margin: 20px;
        max-width: 320px;
        height: auto;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        border-radius: 0.7rem;
    }

    .mainContainer .image{
        flex: 1;
        overflow: hidden;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    
    .image img{
        flex: 1;
        border-radius: 0.7rem 0.7rem 0 0;
    }

    .mainContainer .writtenPart{
        flex: 1;
        border-radius: 0 0 0.7rem 0.7rem;
        padding: 1.8rem 1.35rem 1.8rem 1.35rem;
        box-sizing: border-box;
        padding: 20px;
    }

    .header{
        padding-top: 10px;
    }

    .description{
       line-height: 1.5;
       margin-bottom: 10px;
    }

    .price{
        margin-bottom: 10px;
    }

    .priceOld{
        margin-right: 7.5rem;
    }

    .button{
        margin-right: 0;
    }
    
}