*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background: hsl(30, 38%, 92%);
    --priceAndButton: hsl(158, 36%, 37%);
    --text-color: hsl(228, 12%, 48%);
    --header-color: hsl(212, 21%, 14%);

    font-size: 14px;
}

.body{
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
}

body .mainContainer{
    /*border: 5px solid blue;*/
    width: 39rem;
    height: 29rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    border-radius: 0.7rem;
}

.mainContainer .image{
    flex: 1 1 50%;
    overflow: hidden;
    height: 100%;
    width: auto;
    /*border: 5px solid red;*/
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
}

.mainContainer .writtenPart{
    flex: 1 1 50%;
    height: 100%;
    /*border: 5px solid green;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.8rem 2rem;    
}

.category{
    font-size: 0.80rem;
    color: var(--text-color);
    letter-spacing: 4px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    text-transform: uppercase;
}
/* finished here*/
.header{
    border:2px solid brown;
    height: 5vh;
}

.description{
    border:2px solid brown;
    height: 5vh;
}

.price{
    border:2px solid brown;
    height: 5vh;
}

.button{
    border:2px solid brown;
    height: 5vh;
}
